<!DOCTYPE html>
<html lang="en">
  <%- include('./_partials/head') %>
  <body>
    <%- include('./_partials/header') %>
    <main>
      <h2><%= title %></h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
        asperiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        laboriosam ratione debitis quas in voluptatem modi sapiente quaerat nam
        quia.
      </p>
    </main>
    <aside><h3>Aside</h3></aside>
  </body>
  <%- include('./_partials/footer') %>
</html>
